/* src/components/Header.css */
.header {
    background-color: #007bff; /* Color de fondo azul */
    color: white;
    padding: 5px;
    text-align: center;
  }
  
  .header h1 {
    margin: 0;
    font-size: 4rem;
    font-weight: bold;
  }
  