.hero-section {
  position: relative; /* Permite la colocación absoluta del botón */
  height: 100vh;
  background-color: hsl(0, 0%, 100%);
  color: #f70a0a;
  padding: 0; /* Asegura que no haya padding alrededor del contenedor */
}

.hero-row {
  display: flex;
  flex-direction: column; /* Predeterminado: apila texto e imagen verticalmente */
}

/* Móviles grandes y en adelante (576px y más) */
@media (min-width: 450px) {
  .hero-row {
    flex-direction: column; /* Mantiene la dirección en columna en móviles grandes */
  }
}

/* Móviles grandes y en adelante (576px y más) */
@media (min-width: 500px) {
  .hero-row {
    flex-direction: row; /* Mantiene la dirección en columna en móviles grandes */
  }
}

/* Tabletas y en adelante (768px y más) */
@media (min-width: 768px) {
  .hero-row {
    flex-direction: row; /* Cambia a filas en pantallas de tamaño tablet */
  }
}

/* Pantallas de escritorio pequeñas y en adelante (992px y más) */
@media (min-width: 992px) {
  .hero-row {
    flex-direction: row; /* Mantiene la dirección en fila para escritorios pequeños */
  }
}

/* Pantallas de escritorio grandes y en adelante (1200px y más) */
@media (min-width: 1200px) {
  .hero-row {
    flex-direction: row; /* Mantiene la dirección en fila para escritorios grandes */
  }
}

/* Pantallas ultra anchas y en adelante (1400px y más) */
@media (min-width: 1400px) {
  .hero-row {
    flex-direction: row; /* Mantiene la dirección en fila para pantallas ultra anchas */
  }
}

.text-column, .image-column {
  flex: 1; /* Asegura que ambas columnas ocupen el 50% del ancho */
  padding: 20px;
}

.text-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image-column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-title {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.hero-subtitle {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.hero-button {
  padding: 10px 30px;
  font-size: 1.2rem;
  background-color: #ff4757;
  border: none;
  transition: transform 0.3s ease;
  animation: vibrate 0.5s infinite; /* Aplicar animación al botón */
}

.hero-button:hover {
  transform: scale(1.05);
}

.hero-image {
  width: 100%;
  max-width: 700px; /* Ajusta el tamaño máximo de la imagen si es necesario */
}

.floating-button {
  position: absolute; /* Posiciona el botón de forma absoluta respecto al contenedor */
  top: 100%; /* Ajusta la posición vertical del botón */
  left: 50%; /* Ajusta la posición horizontal del botón */
  transform: translate(-50%, -50%); /* Centra el botón en el contenedor */
  z-index: 10; /* Asegura que el botón esté por encima del contenido */
}

@keyframes vibrate {
  0%, 100% { transform: translateX(0); }
  20%, 60% { transform: translateX(-5px); }
  40%, 80% { transform: translateX(5px); }
}
